.mdl{
      background-color: slategray;
      opacity: 1;
      position: relative;
      align-self: center; 
      top: 50%; 
      bottom: 50%;
      padding: 2%;
     // width: 100%;
}

.center {
      display: flex;
      justify-content: center;
}